#!/usr/bin/make -f

DISTRIBUTION = $(shell awk -F= '/^VERSION_CODENAME=/{ print $$2 }' /etc/os-release)
VERSION = 2.1.4
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = v$(VERSION).tar.gz
TARBALL_URL = https://github.com/gotify/server/archive/refs/tags/$(TARBALL)
BUILDDATE = $(shell date -Is)

%:
	dh $@

export GOCACHE=/tmp/gocache
export PATH := /usr/local/go/bin:$(PATH)

override_dh_auto_install:
	rm -rf server
	git clone git://github.com/gotify/server.git --single-branch --branch v$(VERSION)
	$(eval GITCOMMIT := $(shell cd server && git rev-parse --verify HEAD))

	# Docker:
	# $(MAKE) -C server build-linux-amd64

	# Dockerless:
	cd server/ui && yarn
	cd server/ui && yarn build
	cd server && go run hack/packr/packr.go
	cd server && go build \
		-ldflags="-w -s -X main.Version=${VERSION} -X main.BuildDate=${BUILDDATE} -X main.Commit=${GITCOMMIT} -X main.Mode=prod" \
		-o gotify-server

	cp server/config.example.yml server/config.yml
	sed -i server/config.yml -r \
		-e 's|listenaddr: ""|listenaddr: 127.0.0.1|' \
		-e 's|port: 80|port: 8080|' \
		-e 's|connection: data/gotify.db|connection: /var/lib/gotify/gotify.db|' \
		-e 's|uploadedimagesdir: data/images|uploadedimagesdir: /var/lib/gotify/images|' \
		-e 's|pluginsdir: data/plugins|pluginsdir: /opt/gotify/plugins|'

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
