Source: cockroachdb
Maintainer: Brian Cline <brian.cline@gmail.com>
Build-Depends: debhelper (>= 11),
               build-essential, clang, llvm, ccache, autoconf, cmake, bison,
               curl, git

Package: cockroachdb
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser
Description: distributed, scalable, transactional datastore with SQL compatibility and geo replication
